.n-title {
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 10px;
	word-wrap: break-word;
	line-height: 1.1em;
	.cate {
		font-size: 12px;
		color: #7a7676;
		.label {
			padding-bottom: 1px;
		}
	}
}

.title {
	padding-left: 5px;
	word-wrap: break-word;
	line-height: 1.1em;
	font-size: 1.1em;
	a {
		color: #7c7c7c;
	}
}

.time {
	color: #a8a8a8;
	font-size: 12px;
}

.recover {
	margin-left: 10px;
}
