@import "tags-input/tagsinput";

html {
	overflow-x: hidden;
}

button.active {
	background: #ddd;
}

.show-table {
	display: none;
	margin-top: 20px;
}

.t-dis-price {
	text-decoration: line-through;
}

.fileupload-new {
  width: 360px !important;
}

.fileupload-preview{
	max-width: 360px;
	line-height: 20px;
}

.img-pre {
	width: 100%;
}

.p-l {
	padding-left: 10px;
}
@media screen and (max-width: 768px) {
	.fileupload-new {
	  width: 240px !important;
	}

	.fileupload-preview {
		width: 240px !important;
	}

	.img-pre {
		width: 270px;
	}

	.cdts-panel {
		margin-bottom: -20px;
    }
}

@media screen and (min-width: 768px) {
	.breadcrumb li.pull-right {
		margin-top: 5px;
	}
}

@media screen and (max-width: 768px) {
	.breadcrumb li.pull-right {
		margin-top: -2px;
	}
}

@media screen and (max-width: 350px) {
	.page-heading {
		.pull-right {
			width: 50%;
			white-space: nowrap;
		}
	}
}
