table {
	margin-top: 15px;
}

.activity-list {
	.text a {
		color: #777777;
		text-decoration: none;
	}
	.p-footer {
		border-top: 0;
	}
}

.form-signin .cdt-select {
	.cdt-input input{
		margin-bottom: 5px;
	}
}

.school-info {
	font-size: 8px;
	color: #c0c0c0;
	margin-top: -5px;
}

@media screen and (max-width: 768px) {
	section .wrapper {
		margin-top: 15px;
	}
	.histories {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 768px) {
	.wrapper.u-details {
		padding-top: 15px;
	}
}
