<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @index_post_comment.content %>
</p>

<%= link_to 'Edit', edit_index_post_comment_path(@index_post_comment) %> |
<%= link_to 'Back', index_post_comments_path %>
