<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="javascript:void(0)" class='url-back' role='back' data-back-url="<%= post_url(@post) %>"><<取消</a>
        </li>
        <li>
            <a href="#">发表评论</a>
        </li>
    </ul>
</div>
<!-- page heading end-->
<%= render "form" %>

<script>
    //判断是否是微信浏览器的函数
    function isWeixin(){
      //window.navigator.userAgent属性包含了浏览器类型、版本、操作系统类型、浏览器引擎类型等信息，这个属性可以用来判断浏览器类型
      var ua = window.navigator.userAgent.toLowerCase();
      //通过正则表达式匹配ua中是否含有MicroMessenger字符串
      if (ua.match(/MicroMessenger/i) == 'micromessenger'){
          return true;
      } else {
          return false;
      }
    }

	$(function() {
		if (!isWeixin()) {
            showTip("请在微信公众号内进行评论", 5000);
            $(".wrapper").html("\
                                <div class='t-center'>\
                                    <h4>微信公众号（hhxueba）<h4/>\
                                    <img src='/assets/xueba_wx.jpg' style='max-width: 80%;'>\
                                    <p style='width: 80%; margin-top: 15px' class='t-center'>请用微信扫码或直接搜索公众号:\"hhxueba\" <br/> 在微信内打开即可评论</p>\
                                </div>"
                            );
		}
	})
</script>
