<!-- page heading start-->
<div class="page-heading">
    <h3>
        修改产品
    </h3>
    <ul class="breadcrumb">
        <li>
            <%= link_to '产品信息', manage_product_path(@product) %>
        </li>
        <li class="active"> 编辑 </li>
    </ul>
</div>
<!-- page heading end-->

<%= render 'form', index_product: @product %>

<script>
    $("body").on("submit", "#product-form", function() {
        return false
    })
    $("body").on("click", "#product-submit", function() {
		var $form = $("#product-form");
        var fd = new FormData($form[0]);
        $.ajax({
            url: '/manage/products/' + $form.data("id"),
            data: fd,
            type: 'patch',
            contentType: false,
            processData: false,
            success: function(res) {
                window.location = res
            },
            error: function(res) {
                $("#error").html($(res.responseText).find("#error").html());
                window.scrollTo(0, 1);
            }
        })
        return false;
    })
</script>
