<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="/posts"><<返回</a>
        </li>
        <li>
            <a href="#">修改内容</a>
        </li>
    </ul>
</div>
<!-- page heading end-->
<%= render 'form', post: @post %>
