<!-- page heading start-->
<div class="page-heading">
    <h3>
        新建公告
    </h3>
    <ul class="breadcrumb">
        <li>
            <%= link_to '全部公告', manage_post_notices_path %>
        </li>
        <li class="active"> 新建 </li>
    </ul>
</div>
<!-- page heading end-->
<%= render 'form', index_post_notice: @post_notice %>

<script>
    $("body").on("submit", "#post_notice-form", function() {
        return false
    })
    $("body").on("click", "#post_notice-submit", function(e) {
        e.preventDefault();
        showLoading("提交中...");
        var fd = new FormData($("#post_notice-form")[0]);
        $(this).attr("disabled", true).val("提交中...");
        $.ajax({
            url: '/manage/post_notices',
            data: fd,
            type: 'post',
            contentType: false,
            processData: false,
            success: function(res) {
                window.location = res
            },
            error: function(res) {
                $("#error").html($(res.responseText).find("#error").html());
                $("#post_notice-submit").removeAttr("disabled").val("保存公告信息");
                window.scrollTo(0, 1);
            },
            complete: function() {
                hideLoading();
                
            }
        })
        return false;
    })
</script>
