<!-- page heading start-->
<div class="page-heading">
    <h3>
        新建资料
    </h3>
    <ul class="breadcrumb">
        <li>
            <%= link_to '全部资料', manage_materials_path %>
        </li>
        <li class="active"> 新建 </li>
    </ul>
</div>
<%= render 'form', material: @material %>

<script>

    $("body").on("submit", "#material-form", function() {
        return false
    })
    $("body").on("click", "#material-submit", function(e) {
        e.preventDefault();
        var fd = new FormData($("#material-form")[0]);
        $(this).attr("disabled", true).val("提交中...");
        $.ajax({
            url: '/manage/materials',
            data: fd,
            type: 'post',
            contentType: false,
            processData: false,
            success: function(res) {
                window.location = res
            },
            error: function(res) {
                $("#error").html($(res.responseText).find("#error").html());
                $("#material-submit").removeAttr("disabled").val("保存产品信息");
                $("#material-form-title-0").trigger("click");
                window.scrollTo(0, 1);
            },
            complete: function() {
            }
        })
        return false;
    })
</script>
