// Place all the styles related to the Index::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.p-info, .p-intro {
	width: 100%;
	text-align: left;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.media-gal .item p {
	text-align: left !important;
}
.p-info {
	.company {
		padding: 2px;
		border-radius: 3px;
		font-size: 1.1em;
		font-weight: lighter;
		background-color: #ff5200;
		color: white;
	}
	.name {
		color: #5c5c5c;
	}
}
.p-intro {
	margin-top: 0 !important;
	.price {
		font-size: 1.2em;
		color: #ff5200;
	}
	.readtimes {
		margin-left: 8px;
		color: #acacac;
	}
}
