// Place all the styles related to the Index::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-cover {
	max-width: 100px;
	border-radius: 5px;
}

.media {
    .pull-left {
        width: 35%;
    }

	.cover {
        width: 100%;
		max-width: 200px;
		border-radius: 10px;
		margin-right: 15px;
	}
    .media-body {
        width: 65%;
		float: left;
    }
}
