// Place all the styles related to the Index::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-cover {
	max-width: 100px;
	border-radius: 5px;
}

.media-body {
	max-width: 60%;
	display: inline-block;
}
