// Place all the styles related to the Index::session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.phone-group {
	input[type=text] {
		width: 60%;
		float: left;
	}
	a, button {
		width: 38%;
		height: 38px;
		line-height: 25px;
		float: right;
	}
}

form.phone {
	display: none;
}
