.activity-list {
	.text a {
		color: #777777;
		text-decoration: none;
	}
	.p-footer {
		border-top: 0;
	}
}


@media screen and (max-width: 768px) {
	section .wrapper {
		margin-top: 15px;
	}
	.histories {
		padding-left: 15px;
		padding-right: 15px;
	}
}
